<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
  <form action="https://memfault.us20.list-manage.com/subscribe/post?u=afb4bd475d9940fe13fdcba57&amp;id=ff4515a2ae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

      <span class="mc-field-group">
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email" >
      </span>
      <span id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </span>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <span style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_afb4bd475d9940fe13fdcba57_ff4515a2ae" tabindex="-1" value=""></span>
      <span class="clear" id="mc-embedded-wrap-subscribe"><button type="submit" class="btn" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button></span>
    </div>
  </form>
</div>

<!--End mc_embed_signup-->

